<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://bot.prochat.tech/" target="_blank"
    >
      山月
    </a>
    <span px-1>|</span>
    <span pr-1>UI By</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      chatgpt-demo
    </a>
    <a
  </p>
  <p mt-2 text-xs op-30>
    <a
      b-slate-link
      href="https://github.com/shfshanyue/chatdocs" target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <span>使用任意文件格式构建 ChatGPT 智能知识库 AI 机器人。</span>
  </p>
</footer>
